<div class="container-fluid">
    <div class="container d-flex">
        <div class="p-2 ms-2 mt-4 border" style="border-radius: 10px;">
            <a (click)="filter('')">
                <img style="width: 200px; height: 200px;" class="p-2" src="https://i.postimg.cc/wM3PtSpj/allproduct.jpg"
                    alt="">
            </a>
            <h6 style="text-align: center; text-decoration: none; color: black;"><strong>All Product</strong></h6>
        </div>

        <div class="p-2  ms-2  mt-4  border" style="border-radius: 10px;">
            <a (click)="filter(1)">
                <img style="width: 200px; height: 200px;" class="p-2" src="https://i.postimg.cc/k55qFMWn/fashionn.jpg"
                    alt="">
            </a>
            <h6 style="text-align: center; text-decoration: none; color: black;"><strong>Fashion</strong></h6>

        </div>

        <div class="p-2 ms-2  mt-4  border" style="border-radius: 10px;">
            <a (click)="filter(4)">
                <img style="width: 200px; height: 200px;" class="p-2"
                    src="https://i.postimg.cc/bvnL5kxL/electronics.jpg" alt="">
            </a>
            <h6 style="text-align: center; text-decoration: none; color: black;"><strong>Electronics</strong></h6>

        </div>

        <div class="p-2 ms-2  mt-4  border" style="border-radius: 10px;">
            <a (click)="filter(2)">
                <img style="width: 200px; height: 200px;" class="p-2" src="https://i.postimg.cc/g0wkbkjg/jewellery.jpg"
                    alt="">
            </a>
            <h6 style="text-align: center; text-decoration: none; color: black;"><strong>Jewellery</strong></h6>

        </div>


        <div class="p-2 ms-2  mt-4  border" style="border-radius: 10px;">
            <a (click)="filter(3)">
                <img style="width: 200px; height: 200px;" class="p-2" src="https://i.postimg.cc/J46L7V9v/shoes.jpg"
                    alt="">
            </a>
            <h6 style="text-align: center; text-decoration: none; color: black;"><strong>Shoes</strong></h6>

        </div>


        <div class="p-2 ms-2  mt-4  border" style="border-radius: 10px;">
            <a (click)="filter(5)">
                <img style="width: 200px; height: 200px;" class="p-2" src="https://i.postimg.cc/ncY6M8Np/watch.jpg"
                    alt="">
            </a>
            <h6 style="text-align: center; text-decoration: none; color: black;"><strong>SmartWatch</strong></h6>

        </div>
    </div>
</div>








<!-- Section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div *ngFor="let product of filterCategory | filter:searchkey:'productName'" class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <img style="height: 300px;" class="card-img-top" src="{{product.productImg}}" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">{{product.productName}}</h5>
                            <!-- Product price-->
                            {{product.price}}Rs
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto"
                                href="products/view-product/{{product.id}}">View options</a></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>